@import "tailwindcss";

.logo.vite:hover {
    filter: drop-shadow(0 0 2em #747bff);
}

.logo.typescript:hover {
    filter: drop-shadow(0 0 2em #2d79c7);
}
:root {
    font-family: Inter, Avenir, Helvetica, Arial, sans-serif;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}
